<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>